main h1 {
    text-align: center;
    font-family: 'Libre Caslon Text', serif;
    font-size: 30px;
}

main a {
    font-family: 'Libre Caslon Text', serif;
    color: black;
}

main a:hover {
    color: gray;
}

main h4 {
    margin: 3% 0%;
    text-align: center;
    font-family: 'Libre Caslon Text', serif;
    font-size: 20px;
}
